.jumbotron {
    background-color: #9375ca;
    padding: 70px 40px 70px 40px;
    margin: 0px auto;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.carousel{
background: #70418b;

}
.carousel-item{
    height: 300px;

}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height:300px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.login-mo {
    border: 2px solid rgb(255, 255, 255);
border-radius:20%;
    padding: 10px;
}
.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #70418b;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.modal-body {
    background: #D1C4E9;
}

.modal-header{
 background:#512DA8;;

}
.close{
    color:floralwhite;
}